# STREAMLIT

In [2]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px
# check rec_app.py

In [3]:
data = px.data.carshare()

In [36]:
data.shape

(249, 4)

In [4]:
data.head()

   centroid_lat  centroid_lon    car_hours  peak_hour
0     45.471549    -73.588684  1772.750000          2
1     45.543865    -73.562456   986.333333         23
2     45.487640    -73.642767   354.750000         20
3     45.522870    -73.595677   560.166667         23
4     45.453971    -73.738946  2836.666667         19

In [6]:
list_columns = list(data.columns)

In [7]:
list_columns

['centroid_lat', 'centroid_lon', 'car_hours', 'peak_hour']

In [8]:
new_columns = {
    "centroid_lat": "latitude", "centroid_lon": "longitude"
}

In [9]:
data.rename(columns=new_columns, inplace=True)

In [10]:
data.head()

    latitude  longitude    car_hours  peak_hour
0  45.471549 -73.588684  1772.750000          2
1  45.543865 -73.562456   986.333333         23
2  45.487640 -73.642767   354.750000         20
3  45.522870 -73.595677   560.166667         23
4  45.453971 -73.738946  2836.666667         19

In [11]:
list_columns = list(data.columns)
list_columns

['latitude', 'longitude', 'car_hours', 'peak_hour']

In [26]:
unique_hours = data.peak_hour.sort_values().unique()
unique_hours

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [31]:
data.iloc[:2,:2]

    latitude  longitude
0  45.471549 -73.588684
1  45.543865 -73.562456

In [32]:
data.loc[:2,["latitude", "longitude"]]

    latitude  longitude
0  45.471549 -73.588684
1  45.543865 -73.562456
2  45.487640 -73.642767

In [38]:
data[data["peak_hour"] == 2]

      latitude  longitude    car_hours  peak_hour
0    45.471549 -73.588684  1772.750000          2
8    45.551301 -73.611712  1030.750000          2
10   45.474483 -73.630544  1966.166667          2
20   45.519514 -73.579329  1426.333333          2
25   45.544888 -73.635622  1658.000000          2
48   45.463306 -73.632016  1061.583333          2
52   45.548177 -73.572304   961.416667          2
85   45.555375 -73.569308  1522.750000          2
97   45.537657 -73.582327  1383.000000          2
99   45.527905 -73.584559   635.000000          2
109  45.490448 -73.647550   332.500000          2
111  45.527704 -73.575654   966.250000          2
112  45.534777 -73.572880   981.750000          2
129  45.478225 -73.613169  1357.333333          2
135  45.548584 -73.578879  2752.833333          2
148  45.524108 -73.587318  1298.250000          2
160  45.543486 -73.570273   648.666667          2
161  45.499335 -73.626088   309.750000          2
168  45.549545 -73.567150   626.500000          2
169  45.561615 -73.574067  1059.916667          2
174  45.539032 -73.600934  1687.416667          2
181  45.551026 -73.563301  1038.750000          2
186  45.476898 -73.588306  1386.583333          2
188  45.543940 -73.573944   291.333333          2
195  45.528756 -73.579045   737.083333          2
203  45.531432 -73.564702   889.000000          2
204  45.520293 -73.591613  1337.416667          2
209  45.529045 -73.564355   503.583333          2
224  45.535574 -73.579172  1167.166667          2
232  45.538913 -73.579201   759.416667          2
233  45.535798 -73.586641  1567.666667          2
238  45.554301 -73.561625  1355.166667          2
245  45.546482 -73.574939   795.416667          2

In [34]:
data.iloc[unique_hours,:]

     latitude  longitude    car_hours  peak_hour
0   45.471549 -73.588684  1772.750000          2
1   45.543865 -73.562456   986.333333         23
2   45.487640 -73.642767   354.750000         20
3   45.522870 -73.595677   560.166667         23
4   45.453971 -73.738946  2836.666667         19
5   45.573126 -73.539902  1022.750000          1
6   45.530054 -73.628036   835.750000         18
7   45.499193 -73.561944  1888.333333         14
8   45.551301 -73.611712  1030.750000          2
9   45.553810 -73.577207  1841.166667          1
10  45.474483 -73.630544  1966.166667          2
11  45.532496 -73.579570  1533.000000          3
12  45.565456 -73.642012   834.166667         21
13  45.502981 -73.627490   289.000000         11
14  45.567119 -73.584393   273.583333          1
15  45.480026 -73.582392   594.833333          5
16  45.448903 -73.592977  1020.916667          6
17  45.503031 -73.579030  1428.500000         15
18  45.609668 -73.540232   670.750000          0
19  45.478348 -73.578568   489.500000         14
20  45.519514 -73.579329  1426.333333          2
21  45.569031 -73.525731   422.500000         23
22  45.536260 -73.562091  1624.750000          3
23  45.568573 -73.560843   732.750000         20

In [39]:
peak_hours_selected = None

In [40]:
peak_hours_selected == True

False

In [43]:
if peak_hours_selected:
    print("True")

# CLASSES & FUNCTIONS